<!-- start of index upper template -->
<div class="my-body-upper">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <a href="http://mikemchargue.com/ask-science-mike/"><img src="images\asmLogo.jpg" height="145" width="145" class=".img-responsive" alt="Ask Science Mike" /></a>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-0">
            <p>Ask Science Mike is a weekly podcast covering questions about science, faith, and life. The show is hosted by
                <a href="http://mikemchargue.com/about-mike">Mike McHargue.</a>
            </p>
            <p>This is an archive of questions and topics from the <a href="http://mikemchargue.com/ask-science-mike/"> Ask Science Mike podcast</a>.
                Search and browse the questions below. Click the episode number to listen and view the show notes.
            </p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-4">
        </div>
    </div>
</div>
<!-- End index upper template -->